<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link rel="stylesheet" href="css/activities.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="/events" id="homeIcon"><i class="fas fa-home"></i></a>
        <nav>
            <ul>
                <li><a href="/travelAndlodging">TRAVEL & LODGING</a></li>
                <li><a href="/activities">ACTIVITIES</a></li>
                <li><a href="/journal">JOURNAL</a></li>
                <li><a href="/media">MEDIA</a></li>
                <li><a href="/schedule">SCHEDULE</a></li>
                <li><a href="/qAnda">Q&A</a></li>
            </ul>
        </nav>
    </header>

    <!-- photos -->
    <main>
        <section>
            <h1>Let's Celebrate!</h1>
            <h3>Check out the activities Jon has organized</h3>
        </section>
    </main>

    <!-- footer on the left hand-side of the page -->
    <footer>
        <ul>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/inspiration">Inspiration</a></li>
            <li><a href="/createYourOwnEvent">Create Your Own Event</a></li>
            <li><a href="/helpAndSupport">Help & Support</a></li>
        </ul>
    </footer>

    
</body>
</html>