<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/eventIndex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="/" id="homeIcon"><i class="fas fa-home"></i></a>
        <nav>
            <ul>
                <li><a href="/travelAndlodging">TRAVEL & LODGING</a></li>
                <li><a href="/activities">ACTIVITIES</a></li>
                <li><a href="/journal">JOURNAL</a></li>
                <li><a href="/media">MEDIA</a></li>
                <li><a href="/schedule">SCHEDULE</a></li>
                <li><a href="/qAnda">Q&A</a></li>
            </ul>
        </nav>
    </header>

    <!-- photos -->
    <main>
        <h1>Events</h1>
        <ul>
        <% events.forEach( el => { %>
            <li class="eventItem" data-id="<%=el._id%>">
                <span><%= el.eventName %></span>
                <span class="edit"> Edit </span>
                <span class="del"> Delete </span>
                <span class="view"> View </span>
            </li>
        <% }) %>
        </ul>

        <h2>Create An Event</h2>
        <form action="/createYourOwnEvent/createEvent" method="post">
            <input type="text" placeholder="Enter Event Name" name="eventName">
            <input type="text" placeholder="Enter Event SubHeader" name="eventSubHeader">
            <h4>Add 4 Images</h4>
            <input type="image" src="" alt="" name="pictureOne">
            <input type="image" src="" alt="" name="pictureTwo">
            <input type="image" src="" alt="" name="pictureThree">
            <input type="image" src="" alt="" name="pictureFour">
            <input type="submit">
        </form>

        <a href="/logout">Logout</a>
    </main>

    <!-- footer on the left hand-side of the page -->
    <footer>
        <ul>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/inspiration">Inspiration</a></li>
            <li><a href="/createYourOwnEvent">Create Your Own Event</a></li>
            <li><a href="/helpAndSupport">Help & Support</a></li>
        </ul>
    </footer>

    <script src='js/main.js'></script>
</body>
</html>