/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

body{
    background-color: #88a8a4;
}

/* header */
header {
    height: 100px;
    clear: both;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    justify-content: center;
    align-items: center;
}

#homeIcon{
    font-size: xx-large;
    color: initial;
    margin-left: 2.5%;
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    position: absolute;
}

nav{
    grid-column: 1;
    grid-row: 1;
}

header > nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 25%;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: black;
}

nav > ul > li > a.active, 
nav > ul > li > a:hover, 
nav > ul > li > a:focus {
    text-decoration:underline;
}

/* main section */
main{
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0;
}

h3{
    font-weight: lighter;
    margin-top: 0;
}

section h1,h3{
    text-align: center;
}

.journal-section{
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    position: relative;
    justify-content: center;
    height: inherit;
}

.pink-section{
    grid-column: 7/span 13;
    grid-row: 4;
    z-index: 2;
    background-color: #d29a9e;
    height: 500px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #748885;
}

.green-section{
    grid-column: 9/span 11;
    grid-row: 5;
    z-index: 1;
    background-color: #56847e;
    height: 440px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #748885;
    margin-top: 10px;
}

.yellow-section-tab{
    grid-column: 8/span 12;
    grid-row: 1;
    z-index: 3;
    background-color: #bca246;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-top: 2%;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 10px;
}

.journal-name{
    color: white;
    opacity: 0.8;
}

.yellow-section{
    grid-column: 8/span 12;
    grid-row: 3;
    z-index: 4;
    background-color: #dfc465;
    height: 500px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.journal-container-without-buttons{
    height: 80%;
    width: 80%;
    display: grid;
    row-gap: 10px;
}

.journal-entry{
    background-color: #f6f6f0;
    border-radius: 5px;
}

.journal-empty-space-container{
    display: grid;
    row-gap: 10%;
}

.journal-empty-space{
    background-color: #f6f6f0;
    border-radius: 5px;
}

.journal-buttons-container{
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-left: 10%;
}

.add-journal-entry-button{
    width: 90%;
    text-align: center;
}

.scroll-journal-button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    height: 200px;
    clear: both;
    display: flex;
    align-items: center;
}

footer > ul > li{
    color: white;
}

footer > ul > li > a{
    text-decoration: none;
    color: white;
}