/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

body{
    background-color: #88a8a4;
}

/* header */
header {
    height: 100px;
    clear: both;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    justify-content: center;
    align-items: center;
}

#homeIcon{
    font-size: xx-large;
    color: initial;
    margin-left: 2.5%;
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    position: absolute;
}

nav{
    grid-column: 1;
    grid-row: 1;
}

header > nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 25%;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: black;
}

nav > ul > li > a.active, 
nav > ul > li > a:hover, 
nav > ul > li > a:focus {
    text-decoration:underline;
}

/* main section */
main{
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0;
}

h3{
    font-weight: lighter;
    margin-top: 0;
}

section h1,h3{
    text-align: center;
}

.media-section{
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    position: relative;
    justify-content: center;
    height: inherit;
}

.green-section{
    grid-column: 7/span 13;
    grid-row: 4;
    z-index: 1;
    background-color: #56847e;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #748885;
}

.yellow-section{
    grid-column: 9/span 11;
    grid-row: 2;
    z-index: 2;
    background-color: #dfc465;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #748885;
    margin-top: 10px;
}

.pink-section-tab{
    grid-column: 8/span 12;
    grid-row: 1;
    z-index: 3;
    background-color: #ba8085;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-top: 2%;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 10px;
}

.album-name{
    color: white;
    opacity: 0.8;
}

.pink-section{
    grid-column: 8/span 12;
    grid-row: 3;
    z-index: 4;
    background-color: #d29a9e;
    height: 500px;
    width: 600px;
    border-radius: 5px;
    padding: 10px 20px 0px 20px;
}

#mediaImages{
    height: 100%;
}

.media-images{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
    height: 95%;
}

.media-image{
    height: 100px;
    width: 125px;
    border-radius: 5px;
    z-index: 5;
    border: 2px solid white;
}

.media-add-button-container{
    height: 100px;
    width: 125px;
    border-radius: 5px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-add-button-container > button{
    background: none;
    border: none;
    cursor: pointer;
}

.add-image-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-image-container-title{
    width: 100%;
    height: 10%;
    text-align: center;
}

.add-image-white-container{
    width: 85%;
    background-color: white;
    height: 80%;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.add-image-container-button{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-image-container-button > button{
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: none;
    margin: 0 5px;
    cursor: pointer;
}

.disabled{
    display: none !important;
}

/* interior of white container */

.add-image-white-container-file-name{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-image-white-container-file-name > div{
    overflow: hidden;
    white-space: nowrap;
    max-width: 75%;
}

.add-image-white-container-image-previews{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 10px;
    overflow-y: auto;
}

.add-image-white-container-image-button{
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-image-white-container-image-button > input{
    width: 190px;
}

.add-image-white-container-image-preview{
    min-height: 100px;
    min-width: 100px;
    background-color: green;
}

.add-image-white-container-checkboxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
}

.add-image-white-container-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

/* footer */
footer {
    height: 200px;
    clear: both;
    display: flex;
    align-items: center;
}

footer > ul > li{
    color: white;
}

footer > ul > li > a{
    text-decoration: none;
    color: white;
}